<header>
    <nav>
      <a href="/">Player Management</a>
      <ul>
        <li><a href="/players">Players</a></li>
        <li><a href="/players/new">Add Player</a></li>
      </ul>
    </nav>
  </header>